.about-section {
  height: 100%;
}

.about-section .image-container {
  position: relative;
}

.about-section .image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.about-section .image-container .attribution {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.653);
  font-size: 10px;
  /* Ensures the attribute is above the image */
  z-index: 10;
}

.about-section .image-container .attribution a {
  color: rgba(255, 139, 56, 0.655);
}

.about-div {
  padding: 2rem;
}

.about-div h2,
h3,
p {
  margin: 0;
}

.about-div h2 {
  font-size: 2.2rem;
}

.about-to-explore {
  background-color: #ffcc8d;
  padding: 1.9rem 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  width: 50%;
}

.about-div h3 {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.about-div a {
  padding: 0.6rem 0.6rem;
  border-radius: 5px;
  background-color: #161616;
  border: none;
  color: white;
  font-weight: 600;
  font-family: Jost, system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  /* width; [CodeMark?] */
  text-decoration: none;
  text-align: center;
  margin-top: 1.8rem;
}

.about-div a:hover {
  background-color: #e47d33;
}
