.vans-section {
  display: flex;
  flex-direction: column;
  /* width: 1204px; */
  align-items: center;
}

.vans-section h2 {
  font-size: 60px;
  /* width: 100%; */
  /* margin-right: auto; */
  /* margin-left: 3em; */
}

.vans-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  padding: 1em;
  margin-bottom: 4em;
  /* border: 1px red solid; */
}

.van {
  text-decoration: none;
  background-color: white;
  color: #161616;
  height: 408.6px;
  width: 365.33px;
  display: flex;
  flex-direction: column;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.5em;
  overflow: hidden;
  cursor: pointer;
}

/* https://sentry.io/answers/how-do-i-auto-resize-an-image-to-fit-a-div-container/ */
.van img {
  height: 312px;
  width: 363.73px;
  width: 100%;
  object-fit: cover;
  background-color: rgb(247 247 246);
}

.van div {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.van div .van-type {
  background-color: rebeccapurple;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
}

.van .van-price {
  margin-left: auto;
  margin-right: 1em;
  /* font-weight: 500; */
  font-size: 1.1em;
}

.van h3,
p {
  margin: 0;
}

.detailed-van-container {
  display: flex;
  flex-direction: column;
  padding: 5em 10em;
}

.detailed-van-container .back-link {
  margin-right: auto;
  margin-bottom: 2em;
}

.van-item {
  display: flex;
  gap: 2em;
  background-color: #fffcf7;
  padding: 2em;
  border-radius: 0.5em;
  /* max-width: 800px; */
}

.van-item .van-image {
  height: 400px;
  object-fit: cover;
  background-color: rgb(247 247 246);
  border-radius: 0.5em;
}

.van-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.van-details .van-type {
  background-color: rebeccapurple;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
}

.van-details .van-name {
  margin: 0;
  font-size: 3em;
  /* margin-bottom: em; */
}

.van-details .van-price {
  margin-left: auto;
  font-size: 1.6em;
}

.van-details .van-description {
  text-align: right;
  width: 80%;
}
.van-details button {
  background-color: #ff8c38;
  /* width: 554px; */
  width: 30%;
  height: 42px;
  color: white;
  font-weight: bold;
  font-family: Jost, system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  font-size: 1em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.van-details button:hover {
  background-color: #e47d33;
}

.bold {
  font-weight: 500;
}