.home-hero {
  padding-top: 0;
  background-image: url("./src/assets/images/home-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* min-height: 500px;  */
  /* min-height: 100vh; */
  min-height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.home-hero h2 {
  text-align: center;
  font-size: 2.6em;
}

.home-hero button {
  background-color: #ff8c38;
  width: 554px;
  height: 42px;
  color: white;
  font-weight: bold;
  font-family: Jost, system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  border-radius: 5px;
  margin-top: 3em;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.home-hero button:hover {
  background-color: #e47d33;
}
