.signin-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signin-section form {
  background-color: white;
  padding: 2rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.signin-section h2,
p {
  margin: 0;
}

.signin-section input {
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
}

.signin-section button {
  padding: 0.6rem 0.6rem;
  border-radius: 5px;
  background-color: #ff8c38;
  border: none;
  color: white;
  font-weight: 600;
  font-family: Jost, system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.signin-section button:hover {
  background-color: #e47d33;
}

.signin-section p a {
  color: #ff8c38;
  text-decoration: none;
  word-spacing: -0.07rem;
}

.signin-section p a:hover {
  text-decoration: underline;
}
