/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

.go-to-top-button {
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: rgb(195, 195, 195);
  color: rgb(0, 0, 0);
  cursor: pointer;
  /* padding: 0.8rem 1rem; */
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  /* new */
  opacity: 0; 
  visibility: hidden;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    background-color 0.3s ease;
}

.go-to-top-button.visible {
  opacity: 1;
  visibility: visible;
}

.go-to-top-button:hover {
  background-color: #555;
  color: white;
}
