@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif;
  --color-main: #fff6eb;
  --color-header: #fff7ed;
  --color-footer: #202020;
  --color-button: #ff8c38;
  --color-button-hover: #e47d33;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-width: none;
}

.button {
  background-color: var(--color-button);
  height: 42px;
  color: white;
  font-weight: bold;
  font-family: Jost, system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--color-button-hover);
}
